{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if cart|length > 0 %}
    <table class="table table-light table-hover">
        <thead>
        <tr>
            <th scope="col">Товар</th>
            <th scope="col"></th>
            <th scope="col">Кол-во</th>
            <th scope="col">Цена</th>
            <th scope="col">Сумма</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td align="center">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/default.gif' %} {% endif %}" style="max-width: 150px; max-height: 150px;">
                </a>
            </td>
            <td style="vertical-align: middle;">
                <a href="{{ product.get_absolute_url }}">
                    {{ product.name }}
                </a>
            </td>
            <td style="vertical-align: middle;">
                <div class="row">
                    <a class="btn btn-primary" style="height: 38px;width: 38px;padding: 6px 0;border-radius: .25rem 0 0 .25rem;" href="{% if item.quantity > 1 %} {% url "cart:cart_dec" product.id %} {% else %} # {% endif %}"><span class="material-icons">remove</span></a>
                    <span style="width: 40px;text-align: center;border: 1px solid;padding: 5px 0;border-color: #007bff;">{{ item.quantity }}</span>
                    <a class="btn btn-primary" style="height: 38px;width: 38px;padding: 6px 0;border-radius: 0 .25rem .25rem 0;" href="{% if item.quantity < product.stock %} {% url "cart:cart_inc" product.id %} {% else %} # {% endif %}"><span class="material-icons">add</span></a>
                </div>
            </td>
            <td style="vertical-align: middle;">{{ item.price }}</td>
            <td style="vertical-align: middle;">{{ item.total_price }}</td>
            <td style="vertical-align: middle;">
                <a href="{% url "cart:cart_remove" product.id %}" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>
    <h2>Итого: {{ cart.get_total_amount }} на {{ cart.get_total_price }}</h2>
{% else %}
    <h2>Корзина пуста</h2>
{% endif %}

<p class="text-right">
    <a href="{% url "shop:product_list" %}" class="btn btn-primary">Продолжить покупки</a>
    {% if cart|length > 0 %}
        <a href="{% url "orders:order_create" %}" class="btn btn-success">Оформить заказ</a>
    {% endif %}
</p>
{% endblock %}