html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

a {
    color: #212529;
}

a:hover {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
}
